
.testimonioBody {
    @apply bg-[#181818] p-[2rem] mt-[3rem] relative
}

.testimonioBody::before {

    /* background: linear-gradient(
        100deg,
        transparent,
        rgb(111, 1, 255)
    );   */
    background-color: rgb(62, 62, 62);
    content: "";
    display: block;
    /* width: 3rem;
    height: 3rem; */
    position: absolute;
    left: 45%;
    top: -1.5rem;
    transform: rotate(45deg);
}